<div class ="row">
  <div class = "large-7 columns large-centered">
    <div class = "panel">
      <%= form_for @message, url: message_path(@message) do |message| %>
        <%= message.text_field :content, placeholder: "message content" %>
        <%= message.submit value: "save edits", class: "button small radius success" %>
      <% end %>
    </div>
  </div>
</div>
