<h1>Messages#index</h1>
<h2><%= @messages %></h2>
<h2><%= @messages.inspect %></h2>
<% @messages.each do |message| %>
  <h2><%= message.content %></h2>
<% end %>

<h2><%= @first_message.inspect %></h2>